In [356]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [357]:
from scipy.stats import norm

In [358]:
def black_scholes(s, k, r, t, sigma, option_type):
    d1 = (np.log(s/k) + (r + sigma**2)/2) / (sigma * np.sqrt(t))
    d2 = d1 - (sigma * np.sqrt(t))
    n_d1 = norm.cdf(-d1)
    n_d2 = norm.cdf(-d2)
   
    if option_type == 'Call':
        c = norm.cdf(d1) * s - norm.cdf(d2) * k * np.exp(-r*t)
        return c
    else:
        p =  k * np.exp(-r *t)* n_d2 - s * n_d1
        return p

In [359]:
from datetime import datetime, time
import pandas_datareader.data as pdr
import yfinance as yf

##### Ticker and expiry date

In [360]:
ticker = 'QCOM'
expiry_date = '12-15-2023'

In [361]:
today = datetime.now().date()
one_year_ago = today.replace(year = today.year-1)

In [416]:
stock = yf.Ticker(ticker)
df = yf.download(ticker,start = one_year_ago, end = today,rounding = True )

[*********************100%***********************]  1 of 1 completed

In [417]:
df.head()

              Open    High     Low   Close  Adj Close    Volume
Date
2022-11-14  120.74  123.21  120.26  120.80     117.65   6971000
2022-11-15  125.65  128.13  123.42  126.02     122.73  12470200
2022-11-16  123.20  123.84  119.96  120.73     117.58   9561700
2022-11-17  118.95  123.12  118.71  122.86     119.66   7273700
2022-11-18  124.04  124.49  122.13  123.85     120.62   6436600

In [418]:
df_1 = df['Adj Close']
df_returns = df_1.to_frame()

In [419]:
#calculating returns
df_returns['returns'] = df['Adj Close'].pct_change()

In [420]:
df_returns['cum_ret'] = (df_returns['returns'] +1).cumprod()
df_returns.head()

            Adj Close   returns   cum_ret
Date
2022-11-14     117.65       NaN       NaN
2022-11-15     122.73  0.043179  1.043179
2022-11-16     117.58 -0.041962  0.999405
2022-11-17     119.66  0.017690  1.017085
2022-11-18     120.62  0.008023  1.025244

In [421]:
df_returns.dropna()

            Adj Close   returns   cum_ret
Date
2022-11-15     122.73  0.043179  1.043179
2022-11-16     117.58 -0.041962  0.999405
2022-11-17     119.66  0.017690  1.017085
2022-11-18     120.62  0.008023  1.025244
2022-11-21     117.07 -0.029431  0.995070
...               ...       ...       ...
2023-11-08     120.06 -0.005467  1.020484
2023-11-09     120.10  0.000333  1.020824
2023-11-10     124.21  0.034221  1.055759
2023-11-13     123.85 -0.002898  1.052699
2023-11-14     127.36  0.028341  1.082533

[251 rows x 3 columns]

In [422]:
log_returns = np.log(df['Close']/df['Close'].shift(1)).dropna()
log_returns

Date
2022-11-15    0.042304
2022-11-16   -0.042884
2022-11-17    0.017489
2022-11-18    0.008026
2022-11-21   -0.029914
                ...
2023-11-08   -0.005482
2023-11-09    0.000333
2023-11-10    0.033649
2023-11-13   -0.002903
2023-11-14    0.027947
Name: Close, Length: 251, dtype: float64

In [423]:
df_returns['log_returns'] = log_returns

In [424]:
df_returns.tail()

            Adj Close   returns   cum_ret  log_returns
Date
2023-11-08     120.06 -0.005467  1.020484    -0.005482
2023-11-09     120.10  0.000333  1.020824     0.000333
2023-11-10     124.21  0.034221  1.055759     0.033649
2023-11-13     123.85 -0.002898  1.052699    -0.002903
2023-11-14     127.36  0.028341  1.082533     0.027947

##### Sigma

In [425]:
sigma = np.sqrt(252)*df_returns['log_returns'].std()
sigma

0.3404990843678813

In [426]:
sigma_ret = np.sqrt(252)*df_returns['returns'].std()
sigma_ret

0.34176413902312436

#### Risk-free rate

In [427]:
#risk-free rate, as the 10-year U.S. treasury yield which could get from ^TNX
r = yf.download('^IRX', rounding=True)['Adj Close'].tail(1)/100
r = r.values[0]
r

[*********************100%***********************]  1 of 1 completed

0.0525

In [428]:
# r_10tres = yf.download('^TNX', rounding = True)['Adj Close'].tail(1)/100
# r_10tres = r_10tres.values[0]
# r_10tres

#### Current stock price

In [429]:
#current stock price
s = df_returns['Adj Close'].iloc[-1]
s

127.36

#### Time

In [430]:
# time remaining untill expiration
t = (datetime.strptime(expiry_date, "%m-%d-%Y") - datetime.utcnow()).days / 365
t

0.07945205479452055

#### Strike price

In [431]:
strike_price = 135

#### Calculating option value

In [433]:
print(black_scholes(s, strike_price, r, t, sigma,'Call'))

0.7316320424014862